td {
  border: 2px solid #333;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 70px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Comic Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* select top row */
table tr:first-child td {
  border-top: 0;
}

/* select bottom row */
table tr:last-child td {
  border-bottom: 0;
}

/* select left col */
table tr td:first-child {
  border-left: 0;
}

/* select right col */
table tr td:last-child {
  border-right: 0;
}

#restart-btn {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 6px 12px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

#restart-btn:hover {
  cursor: pointer;
  color: rgb(129 255 129 / 90%)
}

#header {
  text-align: center;
  margin-bottom: 2em;
}

.endgame {
  overflow: hidden;
  display: none;
  width: 200px;
  top: 120px;
  /* background-color: rgb(255 112 29 / 80%); */
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}